<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="msapplication-config" content="../browserconfig.xml"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    <title>Página Inicial - COOBO Accounts</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/estilos.css"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,600' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header">
    <div class="container-header">
        <a href="/">
            <img src="../img/logo.gif">
        </a>
        <div class="menu-header">
            <a href="/views/apps.html" class="menu-group-item">APPS</a>
            <a href="/views/userAccounts.html" class="glyphicon glyphicon-user" aria-hidden="true"></a>
            <a href="/index.html" class="glyphicon glyphicon-log-out" aria-hidden="true"></a>
        </div>
    </div>
</header>

<main class="container-coobo">
    <section class="menu-esquerdo col-md-2">
        <nav class="menu-group">
            <p class="title-menu">MENU</p>
            <ul>
                <li class="menu-group-item"><a href="/views/initial.html">Página Inicial</a></li>
                <li class="menu-group-item"><a href="/views/organization.html">Cadastros </a></li>
                <li class="menu-group-item"><a href="/views/accounts.html">Administração da conta</a></li>
                <li class="menu-group-item"><a href="/views/plans.html">Meu Plano</a></li>
                <li class="menu-group-item"><a href="/views/access.html">Histórico de acessos</a></li>
                <li class="menu-group-item"><a href="/views/payment.html">Dados de cobrança</a></li>
            </ul>
        </nav>
    </section>

    <section class="conteudo-principal col-md-10">
        <section class="apps">
            <div class="row">
                <fieldset>
                    <legend class="titulo text-uppercase">Processo</legend>
                    <div class="col-xs-6 col-md-4">
                        <a href="http://moove-web.azurewebsites.net" class="thumbnail" target="_blank">
                            <p class="faixa-free">free</p>
                            <h5 class="text-uppercase">Genérico</h5>
                            <p class="detalhe upgrade">upgrade</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Cotação</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5>NFe</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Pedido de compras</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Contratação</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Pagamento</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="titulo text-uppercase">Soluções</legend>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <p class="faixa-free">free</p>
                            <h5>NFe</h5>
                            <p class="detalhe upgrade">upgrade</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Estratégias de compras</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Catálogo</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Leilão reverso</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Tax</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Telecom</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5 class="text-uppercase">Logística</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <a href="#" class="thumbnail">
                            <h5>B.I.</h5>
                            <p class="detalhe">free trial</p>
                        </a>
                    </div>
                </fieldset>
            </div>
        </section>
    </section>
</main>
</body>
</html>