<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="msapplication-config" content="browserconfig.xml"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    <title>Accounts</title>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,700|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>

<header>
    <img src="../img/logo.png" alt="" class="logo">

    <div id="hamb">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="bt-action">
        <div class="bt-apps bts">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="bt-perfil bts">
            <div class="photo" style="background-image: url('../img/char.jpg');"></div>
        </div>

        <div class="littlebox box-apps">
            <h2>APPS</h2>

            <div class="ctapps">
                <a href="#" class="_l7">
                    <img src="../img/icons/processo.png" alt="">
                    <p>Processo Genérico</p>
                    <span>Free Trial</span>
                </a>
                <a href="#" class="_l7">
                    <img src="../img/icons/requisicao.png" alt="">
                    <p>Processo Genérico</p>
                    <span>Free Trial</span>
                </a>
                <a href="#" class="_l7">
                    <img src="../img/icons/pedido.png" alt="">
                    <p>Processo Genérico</p>
                    <span>Free Trial</span>
                </a>
                <a href="#" class="_l7">
                    <img src="../img/icons/cotacao.png" alt="">
                    <p>Processo Genérico</p>
                    <span>Free Trial</span>
                </a>
                <a href="#" class="_l7">
                    <img src="../img/icons/contratacao.png" alt="">
                    <p>Processo Genérico</p>
                    <span>Free Trial</span>
                </a>
                <a href="#" class="_l7">
                    <img src="../img/icons/pagamentos.png" alt="">
                    <p>Processo Genérico</p>
                    <span>Free Trial</span>
                </a>
            </div>

            <div class="nh">
                <a href="#" class="all">Ver todos</a>
            </div>
        </div>

        <div class="littlebox box-perfil">
            <div class="avatar" style="background-image: url(../img/char.jpg);"></div>
            <div class="name">Henrique Tomé</div>
            <div class="mail">henrique@coobo.com.br</div>
            <a href="perfil.html" class="btn-editar"><i class="sprited ico-edit"></i>Editar Perfil</a>
            <div class="nh">
                <a href="#" class="all">Logout</a>
            </div>
        </div>
    </div>
</header>

<nav id="main">
    <ul>
        <li><a href="initial.html">Página Principal</a></li>
        <li><a href="tutorial.html">Tutorial</a></li>
        <li>
            <a href="#" class="submenu">Cadastros</a>
            <ul>
                <li><a href="organization.html">Organizações</a></li>
                <li><a href="departament.html">Departamentos</a></li>
                <li><a href="cargos.html">Cargos</a></li>
                <li><a href="users.html">Usuários</a></li>
                <li><a href="aprovacoes.html">Aprovações</a></li>
            </ul>
        </li>
        <li><a href="accounts.html">Administração de Conta</a></li>
        <li><a href="plans.html">Meu Plano</a></li>
        <li><a href="access.html">Histórico de Acessos</a></li>
        <li><a href="payment.html">Dados de Cobrança</a></li>
    </ul>
</nav>

<section id="inner">

    <h1>Cargos</h1>

    <div class="tools">
        <div class="bt-pull l-float">
            <a href="#" id="add" class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#addOrg"> <i class="sprited ico-add"></i> Adicionar Cargo</a>
        </div>

        <div class="littlebox box-add">
            <input type="text" placeholder="Cargo">
            <input type="submit" value="Adicionar" class="btn-default">
        </div>
    </div>

    <div class="table _3cols">
        <div class="thead">
            <div>
                Nº
            </div>
            <div>
                Cargo
            </div>
            <div>
                Ações
            </div>
        </div>
        <div class="tbody">
            <div class="row">
                <div>
                    1
                </div>
                <div>
                    <input type="text" placeholder="Relações Humanas" class="fput">
                </div>
                <div>
                    <div class="ctg">
                        <a href="#" class="action bt-edit"><i class="sprited ico-edit"></i> <span>Editar Cargo</span></a>
                        <a href="#" class="action btn glyphicon glyphicon-remove-sign"><i class="sprited ico-trash"></i> <span>Excluir Cargo</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    2
                </div>
                <div>
                    <input type="text" placeholder="Relações Humanas" class="fput">
                </div>
                <div>
                    <div class="ctg">
                        <a href="#" class="action bt-edit"><i class="sprited ico-edit"></i> <span>Editar Cargo</span></a>
                        <a href="#" class="action btn glyphicon glyphicon-remove-sign"><i class="sprited ico-trash"></i> <span>Excluir Cargo</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    3
                </div>
                <div>
                    <input type="text" placeholder="Relações Humanas" class="fput">
                </div>
                <div>
                    <div class="ctg">
                        <a href="#" class="action bt-edit"><i class="sprited ico-edit"></i> <span>Editar Cargo</span></a>
                        <a href="#" class="action btn glyphicon glyphicon-remove-sign"><i class="sprited ico-trash"></i> <span>Excluir Cargo</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    4
                </div>
                <div>
                    <input type="text" placeholder="Relações Humanas" class="fput">
                </div>
                <div>
                    <div class="ctg">
                        <a href="#" class="action bt-edit"><i class="sprited ico-edit"></i> <span>Editar Cargo</span></a>
                        <a href="#" class="action btn glyphicon glyphicon-remove-sign"><i class="sprited ico-trash"></i> <span>Excluir Cargo</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    5
                </div>
                <div>
                    <input type="text" placeholder="Relações Humanas" class="fput">
                </div>
                <div>
                    <div class="ctg">
                        <a href="#" class="action bt-edit"><i class="sprited ico-edit"></i> <span>Editar Cargo</span></a>
                        <a href="#" class="action btn glyphicon glyphicon-remove-sign"><i class="sprited ico-trash"></i> <span>Excluir Cargo</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<footer>
    2016 @ Coobo Accounts
</footer>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="../js/functions.js"></script>
<script src="../js/api.js"></script>
<script src="../js/app.js"></script>

</body>
</html>