<img src="../img/logo.png" alt="" class="logo">

<div id="hamb">
    <span></span>
    <span></span>
    <span></span>
</div>

<div id="bt-action">
    <div class="bt-apps bts">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="bts">
        <div class="photo" style="background-image: url('../img/char.jpg');"></div>
    </div>
</div>