

<form id="form-signup">

    <div class="top-row">
        <div class="field-wrap">
            <input type="text" placeholder="Nome" required autocomplete="off" id="name"/>
        </div>

        <div class="field-wrap">
            <input type="text" placeholder="Sobrenome" required autocomplete="off" id="lastName"/>
        </div>
    </div>

    <div class="field-wrap">
        <input type="text" placeholder="Nome da Empresa" required autocomplete="off" id="company"/>
    </div>
    <div class="top-row" style="border: 1px solid #a0b3b0; margin-top: -4%;">
        <div class="field-wrap">
            <label>
                Numero de funcionários
            </label>
        </div>
        <div class="field-wrap">
            <select name="funcionarios" id="combobox">
                <option value="1a10">01 a 10 Funcionários</option>
                <option value="10a50">10 a 50 Funcionários</option>
                <option value="50a500">50 a 500 Funcionários</option>
                <option value="500a1k">500 a 1.000 Funcionários</option>
                <option value="mais1000">Acima de 1.000 Funcionários</option>
            </select>

        </div>
    </div>
    <br>

    <div class="field-wrap">
        <input type="email" placeholder="Email" required autocomplete="off" id="email"/>
    </div>

    <div class="top-row">
        <div class="field-wrap">
            <input type="password" placeholder="Senha" required autocomplete="off" id="psw1"/>
        </div>

        <div class="field-wrap">
            <input type="password" placeholder="Confirme a Senha" required autocomplete="off" id="psw2"/>
        </div>
    </div>


    <button type="submit" class="button button-block"/>
    Cadastrar</button>

    <h4 style="text-align: center">
        Free trial por 60 dias. Sem solicitação de cartão de crédito.
    </h4>

    <h4 style="text-align: center">
        Se registrado, você concorda com os <a href="*">termos e política de
        privacidade</a> desta plataforma
    </h4>
</form>

        